main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: dimgray;
	padding-left: 17rem;
	width: 50%;
}

main h1 {
	font-size: 1.4rem;
}

main a {
	color: #5451cc;
}

main p {
	line-height: 1.6;
	margin-top: 0.4rem;
	margin-bottom: 0.4rem;
	word-break: break-word;
}
