ol {
	margin-left: 3rem;
	width: 70%;
	margin-top: 4rem;
}	

.item {
	display: flex;
}

.item_name {
	text-align: start;
	word-break: break-all;
	flex: 5;
}

.item_price {
	text-align: end;
	flex: 3;
}

.item_availability {
	text-align: center;
	flex: 2;
}
