main {
	display: grid;
	justify-items: center;
	align-items: start;
}

.interaction_area {
	margin-top: -10px;
	display: grid inline;
	place-items: center;
	border: 2px solid black;
	border-radius: 10px;
}
form {
	display: grid;
	justify-items: stretch;
}

label {
	display: flex;
	justify-content: space-between;
}

input {
	width: 20em;
}

.interaction_area form p {
	text-align: center;
}

.interaction_area form p * {
	margin: 0.3rem;
}

.interaction_area form button {
	margin-top: 2rem;
	margin-bottom: 0.5rem;
	justify-self: center;
	width: 12rem;
}

.interaction_area a[href="/signin"] {
	margin-top: 4rem;
	margin-bottom: 1rem;
	width: 12rem;
}
