main {
	margin-left: 3rem;
	padding-top: 4rem;
	display: grid;
	align-content: start;
}

.inventory_list {
	width: 60%;
}

input {
	border: 1px solid black;
}

.item {
	display: grid;
	grid-template-columns: 10rem 4fr 1fr;
}

.item_picture_box {
	height: 10rem;
	width: 10rem;
}

.item_name {
	margin-left: 2rem;
	padding-top: 20px;
	text-align: start;
	word-break: break-word;
	max-height: calc(10rem - 20px);
	overflow: hidden;
}

.item_price {
	text-align: end;
}

.item_availability,
.add_to_cart_button,
.cart_control {
	grid-column: 1 / span 3;
	width: auto;
	height: auto;
	justify-self: end;
	margin-top: -5rem;
	align-self: start;
}

.add_to_cart_button,
.cart_control {
	display: flex;
	width: 10rem;
	height: 2.5rem;
	background-color: white;
	border-radius: 5px;
	justify-content: center;
}

.add_to_cart_button {
	border: 2px solid green;
}

.cart_control {
	border: 2px solid black;
}

.hidden {
	display: none;
}

.cart_control select {
	background-color: #f0f0f0;
	border: none;
	width: 3rem;
	margin-top: 5px;
	margin-bottom: 5px;
	border: 2px solid #f0f0f0;
	border-radius: 5px;
}

.add_to_cart_button *,
.cart_control * {
	margin-left: 5px;
	margin-right: 5px;
}

.add_to_cart_button span,
.cart_control span {
	font-size: 1.2rem;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: end;
	margin-right: 10px;
}

li .input {
	margin: 0.5rem;
}

button {
	width: 12rem;
	margin-top: 6rem;
}
