main {
	margin-left: 3rem;
	padding-top: 4rem;
	display: grid;
	align-content: start;
}

.inventory_list {
	width: 60%;
}

input {
	border: 1px solid black;
}

.item {
	display: grid;
	grid-template-columns: 10rem 4fr 1fr;
}

.item_picture_box {
	height: 10rem;
	width: 10rem;
}

.item_name {
	margin-left: 2rem;
	padding-top: 20px;
	text-align: start;
	word-break: break-word;
	max-height: calc(10rem - 20px);
	overflow: hidden;
}

.item_price {
	text-align: end;
}

.item_availability,
.item_amount_input {
	grid-column: 1 / span 3;
	width: auto;
	height: auto;
	justify-self: end;
	margin-top: -5rem;
	align-self: start;
}

li .input {
	margin: 0.5rem;
}

button {
	width: 12rem;
	margin-top: 6rem;
}
