main {
	display: grid;
	justify-items: center;
	align-items: start;
}

form {
	margin-top: -10px;
	display: grid inline;
	place-items: center;
	border: 2px solid black;
	border-radius: 10px;
	justify-items: stretch;
}

label {
	display: flex;
	justify-content: space-between;
}

input {
	width: 20em;
}

form p {
	text-align: center;
}

form p * {
	margin: 0.3rem;
}

button {
	margin-top: 2rem;
	margin-left: 6rem;
	margin-right: 6rem;
	margin-bottom: 0.5rem;
}
